/*! Styling for the a custom UI/UX for the HoloStream  */

.hsp-controls-container
{
  background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.7));
  position: absolute;
  align-items: center;
  direction: ltr;

  bottom: 0;
  color: #fff;
  left: 0;
  padding: 20px 5px 5px;
  position: absolute;
  right: 0;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  transition: opacity .4s ease-in-out,transform .4s ease-in-out,-webkit-transform .4s ease-in-out;
  -webkit-box-pack: end;
  -webkit-box-align: center;
}

.hsp-controls-progress-container {
    min-width: 0;
    padding: 0;
    margin: 0;
    flex: 1 0 auto;
}
.hsp-progress-item {
    width: 100%;
    height: 15px;
    color: rgba(0,0,0,0.5);
    position: relative;
    border-radius: 5px;
    background: #d3d3d3;
    outline: none;
    -webkit-appearance: none;  /* Override default CSS styles */
    appearance: none;
    margin-left: -6.5px;
    margin-right: -6.5px;
}

.hsp-progress-item::-webkit-slider-runnable-track {
  width: 100%;
  height: 7px;
  cursor: pointer;
  border: 0px solid #29334f;
  background: #ddd;
  border-radius: 7px;
  overflow: hidden;
}

.hsp-progress-item::-moz-range-track {
    height: 5px;
    background: #ddd;
    border: none;
    border-radius: 3px;
}
.hsp-progress-item::-ms-fill-lower {
    background: #777;
}
.hsp-progress-item::-ms-fill-upper {
    background: #ddd;
}
.hsp-control-item {
  color: white;
  fill: white;
  padding: 0;
  border: none;
  font: inherit;
  background-color: transparent;
  /* show a hand cursor on hover; some argue that we
  should keep the default arrow cursor for buttons */
  cursor: pointer;
}

.hsp-control-item-right {
  right: 0;
}
